* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Color1: #212529;
    --Color2: #cd853f;
    --Color3: #FF5400;
    --Color4: #FF6000;
    --Color5: #FF7900;
    --Color6: #FFB600;
    --Color7: #FF9E00;
    --Color: #FFFF;
    --background: royalblue;
    --FontFamily: 'Cairo', sans-serif;
    --Padding: 60px 0;
    --Transition: .5s ease;
}

body {
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
input,
button {
    border: none;
    outline: none;
}
span {
    color: var(--Color2);
}
/* Start Header */
.header {
    background-color: var(--Color2);
    width: 100%;
    height: 56px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
    .container .icon_menu {
        display: none;
    }
    .icon_search {
        display: none;
    }
    .container .nav_menu .nav_list .nav_items:hover {
        transition: var(--Transition);
        background-color: var(--Color);
        color: var(--Color1);
    }
    .landing_home .container .content {
        width: 50%;
    }
  }

  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .container .icon_menu {
        display: none;
    }
    .icon_search {
        display: none;
    }
  }

  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    .container .icon_menu {
        display: none;
    }
    .icon_search {
        display: none;
    }
  }





  /* Moblie */
  @media (max-width: 767px) {
    .container .nav_menu {
        position: absolute;
        left: 0;
        top: 56px;
        background-color: var(--Color2);
        width: 100%;
        height: 40vh;
        display: none;
        justify-content: space-evenly;
    }
    .container .nav_menu .nav_list {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .container .nav_menu.active {
        display: flex;
    }
    .container .icon_menu {
        display: flex;
        color: var(--Color);
    }
    .container .icon_menu span {
        font-size: 40px;
        color: var(--Color);
    }
    .icon_search {
        display: flex;
        align-items: center;
        color: var(--Color);
    }
    .icon_search span {
        font-size: 40px;
        color: var(--Color);
    }
  }
.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .nav_menu .nav_list {
    display: flex;
    align-items: center;
}
.container .nav_menu .nav_list .nav_items {
    color: var(--Color);
    padding: 14px;
}
.container .nav_logo {
    display: flex;
    align-items: center;
}
.container .nav_logo img {
    max-width: 100%;
    width: 45px;
}
/* End Header */






/* Start Home */
@media (max-width: 767px) {
    .landing_home .container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .container .poster_home {
        margin-top: 2rem;
    }
    .container .poster_home {
        left: -41.5px !important;
    }
    .container .poster_home img {
        width: 300px !important;
    }
    .container .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container .content .mar {
        flex: 1;
    }

}
.landing_home {
    background-color: hsla(17, 100%, 50%, 0.1);
    padding-top: 100px;
}
.landing_home .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .poster_home {
    background-color: var(--Color2);
    width: 250px;
    display: flex;
    align-items: flex-start;
    height: 55vh;
    border-radius: 140px 140px 0 0;
}
.container .poster_home img {
    max-width: 100%;
    width: 350px;
}

.container .content .mar {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}
.container .content section {
    display: flex;
}
.container .content div {
    background-color: var(--Color2);
    width: 150px;
    height: 5vh;
    color: var(--Color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5rem;
    margin-left: 1rem;
}
.container .content section .number_two {
    background-color: initial;
    border: 1px solid var(--Color2);
    color: var(--Color2);
}

.container .content div span {
    color: var(--Color);
    font-size: 20px;
}
/* End Home */







/* Start Servise */
.landing-s .title_ser {
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-s .title_ser h2 {
    text-align: center;
    margin-bottom: 2.5rem;
    border-bottom: 3px solid var(--Color2);
    width: fit-content;
    padding: 0 20px;

}
.landing-s {
    background-color: var(--Color);
    padding: 150px 0;
}
.landing-s .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.landing-s .container .card {
    background-color: var(--Color);
    width: 250px;
    height: 300px;
    text-align: center;
    box-shadow: 0 0 3px hsla(0, 0%, 0%, .2);
}
.landing-s .container .card .content {
    padding: 5px;
}
.landing-s .container .card .content p {
    font-size: 12px;
}
.landing-s .container .card .img span {
    font-size: 3rem;
}
/* End Servise */








/* Start Restaurant */
.landing-res .title_res {
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-res .title_res h2 {
    text-align: center;
    margin-bottom: 2.5rem;
    border-bottom: 3px solid var(--Color2);
    width: fit-content;
    padding: 0 20px;

}
.landing-res {
    background-color: var(--Color);
    padding: var(--Padding);
}
.landing-res .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0 10px;
}
.landing-res .container .card img {
    max-width: 100%;
}
.landing-res .container .card {}
/* End Restaurant */